name: publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Cache Gradle packages
        uses: burrunan/gradle-cache-action@v1
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Prepare to publish
        run: |
          echo "${{secrets.GPG_KEY_CONTENTS}}" | base64 -d > publish_key.gpg
          gpg --quiet --batch --yes --decrypt --passphrase="${{secrets.SECRET_PASSPHRASE}}" --output secret.gpg publish_key.gpg
      - name: Retrieve github tag
        id: github_tag
        run: echo ::set-output name=RESULT::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Publish with Gradle
        run: ./gradlew test publishMavenJavaPublicationToMavenRepository --no-parallel --no-daemon --build-cache -Pgithub.tag=${{ steps.github_tag.outputs.RESULT }} -Psigning.secretKeyRingFile=secret.gpg -Psigning.keyId=${{secrets.SIGNING_KEYID}} -Psonatype.user=${{secrets.SONATYPE_USERNAME}} -Pgpr.user=whilein -Pgpr.password=${{secrets.GITHUB_TOKEN}} -Psigning.password=${{secrets.SIGNING_PASSWORD}} -Psigning.secretKeyRingFile=${GITHUB_WORKSPACE}/secret.gpg -Psonatype.password=${{secrets.SONATYPE_PASSWORD}}
